{% extends 'base.html' %}{% load static from staticfiles %}

{% block header-class %}header-home{% endblock %}
{% block header-left %}
    <div class="header-left">
        <span class="img_xbox">
            <a href="">
                <img src="{% static 'img/XboxOne.jpg' %}" title="XboxOne" alt="">
            </a>
        </span>
        <span class="img_ps">
            <a href="">
                <img src="{% static 'img/ps4.jpg' %}" title="Ps4" alt="">
            </a>
        </span>
        <span class="img_wii">
            <a href="">
                <img src="{% static 'img/wii-u-logo utilgame.jpg' %}" title="WiiU" alt="">
            </a>
        </span>
        <span class="img_pc">
            <a href="">
                <img src="{% static 'img/Pc_gamer.jpg' %}" title="Pc" alt="">
            </a>
        </span>
    </div>
{% endblock %}
{% block header-right %}
<div class="right-top">
    <img src="{% static 'img/logo_web.png' %}"
</div>
<div class=right-bottom">
    <form id="login_user" action="{% url login_user %}" method="post">{% csrf_token %}
        <div class="login_user">{{ get_login }}</div>
        <input type="submit" value="Enviar">
    </form>
    <div class="register"><a href="">Registrar</a></div>
</div>
{% endblock %}
