{% extends 'base.html' %}{% load static from staticfiles %}

{% block content %}
    <div class="release">
        <div class="title-product release-left">ESTRENOS</div><div class="title-precio-product release-right"><span>Precios Más Baratos</span></div>
        {% for product in product_release %}
            <a href="{% url product_game product.id %}">
                <div class="release-left">
                    <img src="{{ MEDIA_URL }}{{ product.main }}" title="{{ product.name }}">
                    <p>{{ product.name }}</p>
                </div>
            </a>
            <div class="release-right">
                {% for price in product.prices %}
                <a href="{% url product_game product.id %}">
                    <div class="brand-release">
                        {% if price.brand %}
                        <img src="{{ MEDIA_URL }}{{  price.brand }}" title={{ price.name }}>
                        {% else %}
                        <p>{{ price.name }}</p>
                        {% endif %}
                        <div class="price-release">
                            {% if price.old != None %}
                            <p class="old">{{ price.old }}</p>
                            {% endif %}
                            <p class="new">{{ price.new }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}