{% extends 'base.html' %}

{% block content-class %} content-game-info{% endblock %}
{% block content %}
<div class="info-game_juego">
    {% if product_simple %}
    {% for product in product_simple %}
        <a href="{% url product_game product.id %}">
            <div class="release-left">
                <img src="{{ MEDIA_URL }}{{ product.imagen }}" title="{{ product.name }}">
                <p>{{ product.name }}</p>
            </div>
        </a>
    {% endfor %}
    {% else %}
        <span class="error_juego">No se encuentra ningun juego</span>
    {% endif %}
{% endblock %}